language: java

jdk:
  - oraclejdk8

install: mvn install -DskipTests=true -Dmaven.javadoc.skip=true

script:
  - mvn test
  - mvn cobertura:cobertura

after_success:
  - bash <(curl -s https://codecov.io/bash)