language: java

sudo: false

jdk:
  - openjdk8

before_install:
  - export TZ='Asia/Shanghai'
  - chmod +x mvnw

script:
  - mvn cobertura:cobertura

after_success:
  - bash <(curl -s https://codecov.io/bash)

cache:
  directories:
  - $HOME/.m2
