<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baomidou.mybatisplus.samples.pagination.mapper.UserMapper">

    <select id="mySelectPage" resultType="com.baomidou.mybatisplus.samples.pagination.entity.User">
        select *
        from user where (age = #{pg.selectInt} and name = #{pg.selectStr})
                or (age = #{ps.yihao} and name = #{ps.erhao})
    </select>
</mapper>